PAPERS*/*
*poetry*
__pycache__/
*egg-info/
.vscode/
*.pyc 
wandb*
.ipynb_checkpoints
*.out
runs/*
cluster/*
outputs/*
data/*
data_coco/*
model_outputs/*
test.ipynb
*nii*
*svg
*.pyc
*.npz
*.gii
*.lock
*.pt 
*.pth
*.npy
*.hdf5
*.h5
*.tsv
*.ctab
*.mgz
*.xfm
*.blend
